


a:link{
    text-decoration: none;
    color: black;
}

.tp-header-bottom ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.tp-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background: var(--tp-common-white);
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 30px 70px 0px rgba(11, 6, 70, 0.08);
    padding: 12px 25px 20px;
    transform-origin: top;
    transition-duration: 0.1s;
    -webkit-transform: perspective(300px) rotateX(-18deg);
    -moz-transform: perspective(300px) rotateX(-18deg);
    -ms-transform: perspective(300px) rotateX(-18deg);
    -o-transform: perspective(300px) rotateX(-18deg);
    transform: perspective(300px) rotateX(-18deg);
  }

  .tp-submenu li {
    display: block;
    width: 100%;
    margin: 0;
  }

  .tp-submenu li.has-dropdown > a::after {
    position: absolute;
    right: 0;
    content: "\f107";
    font-size: 14px;
    color: var(--tp-common-black);
    font-family: var(--tp-ff-fontawesome);
    font-weight: 400;
    margin-left: 5px;
    display: inline-block;
    -webkit-transform: translateY(0%) rotate(-90deg);
    -moz-transform: translateY(0%) rotate(-90deg);
    -ms-transform: translateY(0%) rotate(-90deg);
    -o-transform: translateY(0%) rotate(-90deg);
    transform: translateY(0%) rotate(-90deg);
  }
  .tp-submenu li a {
    padding: 3px 0;
    font-size: 14px;
    position: relative;
    z-index: 1;
    color: var(--tp-text-body);
    width: 100%;
    display: block;
  }

  .tp-submenu li > .tp-submenu {
    left: 120%;
    top: 0;
    visibility: hidden;
    opacity: 0;
  }

  .mega-menu-title {
    font-size: 16px;
    color: var(--tp-common-black);
    display: block;
    margin-bottom: 7px;
    font-weight: 500;
  }

  body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style the dropdown container */

.navallproducts li {
    font-size: 15px;
    color: var(--tp-text-2);
    display: inline-block;
    width: 100%;
    padding: 13px 0 20px;
    background-color: var(--tp-common-white);
    font-weight: 400;
    position: relative;
}
.navallproducts{
    margin-top: -2.53px !important;
}


.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}



.navallproducts li a{
    color: gray;
    margin-left: 20px;
}
.navallproducts li span{
    margin-right: 10px;
}
.navallproducts li a:hover{
    color: rgb(16, 117, 248);
    border-left-color: rgb(16, 117, 248) ;
}

.purple{
    background-color: purple;
}

.orange{
    background-color: orange;
}

@media (max-width: 968px) {
    .carousel-control-prev,
    .carousel-control-next {
      display: none !important;
    }
    
  }
  
  .btn:focus {
    outline: none;
  }



.login-container {
  margin: 50px; 

}

.login-box {
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
height : 100%;
}

#hoverDropdown:hover #hoverDropdownMenu {
  display: block;
}

#hoverDropdown1:hover #hoverDropdownMenu1 {
  display: block;
}

#hoverDropdown2:hover #hoverDropdownMenu2 {
  display: block;
}
.elec{
  position: relative;
}

.elec-item{
  position : absolute;
  top: 0px;
  left : 250px;
  width: 250px;
}

.elec-item1{
  position : absolute;
  top: 0px;
  left : 250px;
  width: 700px;
  height:400px;
}

.slick-slider .slick-slide a {margin:0 5px;border:1px solid #e5e5e5;display:block;text-align:center;}
.slick-slider .slick-slide a img{margin:0 auto;}
.tp-product-item-2{border:1px solid #e6e7e9;box-shadow:0px 11px 11px 1px #e9e9e9;overflow:hidden;}
.tp-product-item-2 .tp-product-content-2{padding:14px;}